---
layout: page
comments: true
title: Bitcoin, mode d'emploi
date: 2015-01-31 21:43:04.000000000 +01:00
type: post
published: true
status: publish
categories:
- Altcoins
- Bitcoin
- Economie
- Politique
- Technologie
tags:
- bitcoin
- e-book
- Kindle
- livre
meta:
  _bitmonet: '0'
  dsq_thread_id: '3473715960'
  _edit_last: '1'
author:
  login: admin
  email: noizat@hotmail.com
  display_name: Boussac
  first_name: ''
  last_name: ''
---
<p><a href="http://www.lulu.com/shop/pierre-noizat/bitcoin-mode-demploi/paperback/product-22023378.html" title="Bitcoin, mode d'emploi" target="_blank">Bitcoin, mode d'emploi</a> est paru en janvier 2015 sur Amazon et lulu.com, en version papier (130 pages) et e-book (Kindle, etc..).</p>
<p><img src="{{ site.baseurl }}/assets/cover_bitcoin_mode_demploi.jpg" alt="Couverture, Bitcoin, mode d'emploi" /></p>

<p><a class="paymium-btn" href="https://paymium.com/invoice/00037685-70c2-42fa-8639-263be8f59150?type=payment_button&amp;requires_customer_email=true&amp;requires_delivery_address=true" style="background-color: #6699cc;" >Acheter avec Bitcoin</a><script type="text/javascript" src="https://paymium.com/js/button.js"></script></p>

<p>Version papier, couverture souple, 128 pages, 
ISBN : 9781326164751, Expédié en 3 à 5 jours ouvrés.</p>
<p>Offre spéciale pour les Bitcoiners: 
<strong>15 €, livraison comprise</strong></p>

<p>Ce livre est destiné aussi bien à la découverte de Bitcoin qu'aux lecteurs de Bitcoin Book et de Bitcoin,monnaie libre, les deux livres que j'ai écrits en 2011-2012.<br />
Les explications du fonctionnement de Bitcoin sont reformulées à la lumière des nombreux échanges que j'ai pu avoir depuis lors avec les lecteurs et avec les acteurs de l'écosystème Bitcoin.<br />
N'hésitez pas à commenter et noter ce livre sur Amazon et lulu.com afin d'augmenter sa visibilité pour tous: merci de votre soutien!</p>

<p>Beaucoup d'autres livres peuvent contribuer à donner du contexte ou aider à comprendre Bitcoin. En voici une sélection:</p>
<div>
<ul>
	<li><a href="https://www.amazon.fr/Cygne-noir-Suivi-force-fragilité/dp/225144436X/ref=sr_1_1?s=books&ie=UTF8&qid=1474231073&sr=1-1&keywords=cygne+noir" title="Mastering Bitcoin" target="_blank">Le cygne noir</a>, la puissance de l'imprévisible, 2012, Nassim Nicholas Taleb</li>
	<li><a href="https://www.amazon.fr/Système-deux-vitesses-pensée/dp/2081211475/ref=sr_1_1?s=books&ie=UTF8&qid=1474231292&sr=1-1&keywords=daniel+kahneman" title="Les deux vitesses de la pensée" target="_blank">Système 1/Système 2, les deux vitesses de la pensée</a>, 2012, Daniel Kahneman </li>
	<li><a href="https://www.amazon.fr/Antifragile-bienfaits-Nassim-Nicholas-Taleb/dp/2251444769" title="Mastering Bitcoin" target="_blank">Antifragile</a>, les bienfaits du désordre, 2013, Nassim Nicholas Taleb</li>
	<li><a href="{{ site.baseurl }}/download/mastering_bitcoin.pdf" title="Mastering Bitcoin" target="_blank">Mastering Bitcoin (traduction française, pdf)</a>, référence technique et ouvrage collectif publié en 2015 par Andreas Antonopoulos (éditeur: O'Reilly)</li>
</ul>
</div>

{% if page.comments %}
	{% include disqus.html %}
{% endif %}
