---
layout: page
comments: true
title: L'énergie, face cachée de la monnaie
date: 2015-01-31 21:43:04.000000000 +01:00
type: post
published: true
status: publish
categories:
- Altcoins
- Bitcoin
- Economie
- Politique
- Technologie
tags:
- bitcoin
- e-book
- Kindle
- livre
meta:
  _bitmonet: '0'
  dsq_thread_id: '3473715960'
  _edit_last: '1'
author:
  login: admin
  email: noizat@hotmail.com
  display_name: Boussac
  first_name: ''
  last_name: ''
---

<p><img src="{{ site.baseurl }}/assets/cover_2024_Energie_face_cachee_de_la_monnaie_front.png" alt="Couverture, L'énergie, face cachée de la monnaie" /></p>

<p><a href="https://bitcoinbook.shop/products/lenergie-face-cachee-de-la-monnaie?Format=Paperback" title="L'énergie, face cachée de la monnaie" target="_blank">L'énergie, face cachée de la monnaie</a>, avril 2024.</p>

<p>Transitions énergétique et numérique sont au cœur des préoccupations du public mais les liens physiques entre énergie et information restent méconnus.

Les principes du fonctionnement de l’énergie et de l’information qui expliquent les phénomènes naturels et les comportements sociaux sont trop souvent ignorés.

Réintroduire la rationalité dans un débat public dominé par l’idéologie passe par la pédagogie. Après avoir rappelé simplement les 3 principes thermodynamiques de base, ce livre décrit comment ils s’appliquent dans nos vies, à travers des exemples concrets.

Les notions d’énergie potentielle et d’entropie, la différence entre données et information, les liens entre information, monnaie et énergie n’auront plus de secrets pour vous.</p>

<p><img src="{{ site.baseurl }}/assets/cover_bitcoin_mode_demploi.jpg" alt="Couverture, Bitcoin, mode d'emploi" /></p>

<p><a href="http://www.lulu.com/shop/pierre-noizat/bitcoin-mode-demploi/paperback/product-22023378.html" title="Bitcoin, mode d'emploi" target="_blank">Bitcoin, mode d'emploi</a> est paru en janvier 2015 sur Amazon et lulu.com, en version papier (128 pages, ISBN : 9781326164751) et e-book.</p>

<p>Ce livre est destiné aussi bien à la découverte de Bitcoin qu'aux lecteurs de Bitcoin Book et de Bitcoin,monnaie libre, les deux livres que j'ai écrits en 2011-2012.<br />
Les explications du fonctionnement de Bitcoin sont reformulées à la lumière des nombreux échanges que j'ai pu avoir depuis lors avec les lecteurs et avec les acteurs de l'écosystème Bitcoin.<br /></p>
<p>N'hésitez pas à commenter et noter ces livres sur les réseaux sociaux et sur Amazon afin d'augmenter leur visibilité pour tous: merci de votre soutien!</p>

<p>Beaucoup d'autres livres peuvent contribuer à donner du contexte ou aider à comprendre Bitcoin. En voici une sélection:</p>
<div>
<ul>	<li><a href="https://www.editionsparole.fr/produit/thermodynamique-de-levolution-un-essai-de-thermo-bio-sociologie-2/" title="Thermodynamique de l’évolution" target="_blank">Thermodynamique de l’évolution</a>, 2012, François Roddier</li>
	<li><a href="https://www.amazon.fr/Système-deux-vitesses-pensée/dp/2081211475/ref=sr_1_1?s=books&ie=UTF8&qid=1474231292&sr=1-1&keywords=daniel+kahneman" title="Les deux vitesses de la pensée" target="_blank">Système 1/Système 2, les deux vitesses de la pensée</a>, 2012, Daniel Kahneman </li>
	<li><a href="{{ site.baseurl }}/download/mastering_bitcoin.pdf" title="Mastering Bitcoin" target="_blank">Mastering Bitcoin (traduction française, pdf)</a>, référence technique et ouvrage collectif publié en 2015 par Andreas Antonopoulos (éditeur: O'Reilly)</li>
	<li><a href="https://www.amazon.com/L%C3%A9talon-bitcoin-Lalternative-d%C3%A9centralis%C3%A9e-banque-centralis%C3%A9e/dp/2856083544" title="The Bitcoin Standard" target="_blank">L'étalon Bitcoin</a>, L'alternative décentralisée aux banques centrales par Saifedean Ammous, 2019</li>
</ul>
</div>

{% if page.comments %}
	{% include disqus.html %}
{% endif %}
